<div class="col-xs-12">
<h1 class="m_red" style="font-size:100px;">Artist</h1>
<table class="table table-responsive table-bordered table-hover">
<tr> <th> Name </th>
<th> Bio </th>
<th> Actions</th>

</tr>
<tr>
<% @artists.each do |artist| %> 
<td> <%= artist.name %> </td>
<td><%= artist.bio %> </td>
<td> <%=link_to "Show", artist_path(artist), :class => 'btn btn-black' %> 
<%=link_to "Edit", edit_artist_path(artist), :class => 'btn btn-default' %> 
<%=link_to "Delete", artist, method: :delete, data: {confirm: "Are you sure"}, :class => 'btn btn-danger' %> 
</tr> 
<%end %>

</table>
<%=link_to "Add Artist", new_artist_path, :class => "btn btn-lg btn-success" %>  
</div> 
