<div class="col-xs-12">
<h1 class="my_grey" style="font-size:100px;">Artists</h1>
<table class="table table-responsive table-bordered table-hover">
<tr> <th> Name </th>
<th> Bio </th>
<th> Actions</th>

</tr>
<tr>
<% @artists.each do |artist| %> 
<td> <%=link_to "#{artist.name}", artist_path(artist) %> </td>
<td><%= artist.bio %> </td>
<td> <%=link_to "Show", artist_path(artist), :class => 'btn btn-primary' %> 
<%=link_to "Edit", edit_artist_path(artist), :class => 'btn btn-default' %> 
<%=link_to "Delete", artist, method: :delete, data: {confirm: "Are you sure"}, :class => 'btn btn-danger' %> 
</tr> 
<%end %>

</table>
<div style="text-align:center;" class="well white ">
<%=link_to "Add Artist", new_artist_path, :class => "btn btn-lg btn-success" %>  
</div>
</div> 
