<div class="well white">
<%= simple_form_for(@art_work, html: {:class => 'form-horizontal'} ) do |f| %>

<%= f.association :artist, label: false, input_html: {:class => 'form-control quicksand_font', placeholder: "Name of Art Work"} %>
<br/> 

<%= f.input :name, label: false, input_html: {:class => 'form-control quicksand_font', placeholder: "Name of Art Work"} %>
<br/> 

<%= f.input :description, label: false, input_html: {:class => 'form-control quicksand_font', placeholder: "Art Work Description"}%>
<br/>

<%= f.input :image, label: false, input_html: {:class => 'form-control quicksand_font', placeholder: "Image of Art Work"}%>
<br/> 
<div style="text-align:center;">
<%= f.submit "Submit New Art Work".html_safe, :class => 'btn btn-lg btn-default quicksand_font' %> 
</div>
<%end %> 

</div>
